<%= form_with(model: crypto_price) do |form| %>
  <% if crypto_price.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(crypto_price.errors.count, "error") %> prohibited this crypto_price from being saved:</h2>

      <ul>
        <% crypto_price.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :Cryptocurrency_id, style: "display: block" %>
    <%= form.collection_select :Cryptocurrency_id, Cryptocurrency.all, :id, :name %>
  </div>

  <div>
    <%= form.label :captured_at, style: "display: block" %>
    <%= form.date_field :captured_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
