<div id="<%= dom_id cryptocurrency %>">
  <p>
    <strong>Name:</strong>
    <%= cryptocurrency.name %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= cryptocurrency.started_at %>
  </p>

  <hr>
  <ul>
    <% @cryptocurrency.crypto_prices.each do |o| %>
      <li>
        <%= o.price %> (<%= o.captured_at %>%)
      </li>
    <% end %>
  </ul>

</div>
